<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"> </ion-back-button>
    </ion-buttons>
    <ion-title>POLITICA DE PRIVACIDAD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  Comida mexicana mejor conocido como Food Champ, con domicilio en Blvd. Juan Pablo II No. 1302 Ex hacienda la Cantera, 20200 Aguascalientes, Ags. y portal de internet www.foodchamp.com, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
  <br>
  ¿Para qué fines utilizaremos sus datos personales?
  <br>
  Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
  <br>
  ¿Qué datos personales utilizaremos para estos fines?
  <br>
  Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:
Datos de identificación y contacto
  <br>
  ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso o ejercer la revocación de consentimiento?
<br>
Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso).
Para el ejercicio de cualquiera de los derechos ARCO, debe enviar una petición vía correo electrónico a mitzidelacruz12@gmail.com y deberá contener:
<br>
•	Nombre completo del titular.
•	Domicilio.
•	Teléfono.
•	Correo electrónico usado en este sitio web.
•	Copia de una identificación oficial adjunta.
<br>
consultar las actualizaciones que existan en el sitio web www.foodchamp.com.
<br>
Última actualización de este aviso de privacidad: 10/04/2023
</div>
<div>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    &nbsp;
    <ion-label>Acepto las politicas de privacidad</ion-label>
    <!-- <ion-button href="/auth" [disable]="!permiso" slot="end" shape="round">Aceptar los permisos</ion-button> -->

  </ion-item>
</div>
</ion-content>
